<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- İnternet izni -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="tirloj"
        android:icon="@mipmap/ic_launcher">

        <!-- MainActivity ayarları -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:usesCleartextTraffic="true"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        <!-- Normal Tema, Flutter ilk çerçeveyi çizmeden önce geçici olarak kullanılacak -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />

        <!-- Splash ekranı Drawable ayarları -->
        <meta-data
            android:name="io.flutter.embedding.android.SplashScreenDrawable"
            android:resource="@drawable/launch_background" />

        <!-- Ana giriş noktası -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Flutter embedding versiyonu -->
    <meta-data
        android:name="flutterEmbedding"
        android:value="2"/>
</application>
    </manifest>
